PROJECT=test
DIR_NAME=/root/docker/

BRIDGE_NAME=breth1          # Default is br-{PROJECT}, if not set
HOST_IP=10.11.108.41        # This IP will be configured on bridge
SUBNET=10.11.108.0/24

DB01_IP=10.11.108.42
DB02_IP=10.11.108.43
DB03_IP=10.11.108.44
DB_VIP=10.11.108.45

MGT01_IP=10.11.108.46
MGT02_IP=10.11.108.47
MGT03_IP=10.11.108.48
MGT_VIP=10.11.108.49

HEALTHCHECK_INTERVAL=3
HEALTHCHECK_RETRIES=200
HEALTHCHECK_TIMEOUT=10

DB_ROOT_PASSWORD=cloudstack
DB_REPLICATION_PASSWORD=cloudstack
DB_CLOUD_PASSWORD=cloudstack
CLOUDSTACK_VERSION=4.14.0.0~bionic
CLOUDSTACK_ADMIN_PASSWORD=cloudstack
DATABASE_KEY=dbKey
MANAGEMENT_KEY=mgtKey
SYSTEMVM_TEMPLATE=http://download.cloudstack.org/systemvm/4.14/systemvmtemplate-4.14.0-kvm.qcow2.bz2
